body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

#lista-pedidos {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  background-color: #fff;
  padding: 10px;
  margin: 10px 0; /* Espaçamento vertical */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li strong {
  margin-right: 10px; /* Espaçamento horizontal */
}
li span {
  margin-right: 10px; /* Espaçamento horizontal */
}

li button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

li button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

li button:hover {
  background-color: #0056b3;
}
